<img src="assets/close.svg" mat-dialog-title matDialogClose class="close-btn">
<h1 mat-dialog-title class="title">Editando {{item.name}}</h1>
<form  [formGroup]="uploadForm" (ngSubmit)="onSubmitIMG()" class="new-item-form topForm">
  <input (change)="onFileSelect($event.target.files)" type="file" spellcheck="false" name="img" id="img" formControlName="img">
  <button [disabled]="disabled" type="submit" mat-flat-button color="accent">Subir Foto</button>
  <h4 class="succesMSG" *ngIf="showMessage">Imagen Subida Correctamente</h4>
</form>
<form  [formGroup]="uploadFileForm" (ngSubmit)="onSubmitPDF()" class="new-item-form topForm">
  <input (change)="onFileSelectPDF($event.target.files)" type="file" spellcheck="false" name="pdf" id="pdf" formControlName="pdf">
  <button [disabled]="disabledPDF" type="submit" mat-flat-button color="accent">Subir Ficha</button>
  <h4 class="succesMSG" *ngIf="showMessagePDF">Ficha Subida Correctamente</h4>
</form>
<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="new-item-form">
<div mat-dialog-content>
      <mat-form-field appearance="fill"  class="example-full-width">
        <mat-label>Nombre Del Producto</mat-label>
        <input spellcheck="false" name="name" id="name" formControlName="name" maxlength="60" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill"  class="example-half-width put-margin">
        <mat-label>Precio</mat-label>
        <input (focusout)="testFocus()" spellcheck="false" name="priceIGV" id="priceIGV" formControlName="priceIGV" min="0" step="1" type="number" class="example-right-align" matInput>
        <span matPrefix>S/ </span>
      </mat-form-field>
      <mat-form-field appearance="fill"  class="example-half-width put-margin">
        <mat-label>Cantidad</mat-label>
        <input spellcheck="false" name="cantidad" id="cantidad" formControlName="cantidad" type="number" min="0" step="1" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" class="example-half-width">
        <mat-label>Unidad De Medida</mat-label>
      <mat-select [value]="0" name="unidadDeMedida" id="unidadDeMedida" formControlName="unidadDeMedida">
          <mat-option value="UND">UND</mat-option>
          <mat-option value="PAR">PAR</mat-option>
          <mat-option value="CAJA">CAJA</mat-option>
      </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill"  class="example-full-width">
        <mat-label>Descripción</mat-label>
        <textarea name="description" id="description" formControlName="description" maxlength="600" matInput></textarea>
      </mat-form-field>

</div>
<div mat-dialog-actions align="end">
  <button type="submit" [disabled]="!myForm.valid"  mat-flat-button color="accent">Actualizar</button>
</div>
</form>
