.usuario{
  margin-right: .1em;
  font-weight: 200;
  font-size: 26px;
  font-family: futura-pt, sans-serif;
  cursor: pointer;
  display: flex;
}

.usuario span {
  margin-right: .2em;
}

.userIcon {
  font-size: 26px;
  text-align: center;
  align-self: center;
  margin-bottom: 2.5px;
}
.contenidoMain {
  padding: .5em 3em;
}

.info {
  display: grid;
  background-color: #eaf6ff;
  width: calc(100%-6em);
  gap: 1em;
}

.info ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: .5em .5em 0 .5em;
}

.info ::ng-deep .mat-form-field-wrapper {
  padding: 0;
}

.info ::ng-deep .mat-form-field-underline {
  display: none;
}

.acciones {
  display: flex;
  justify-content: flex-end;

}

.selectSort {
  width: 140px;
  align-self: center;
  font-size: 14px;
  font-family: futura-pt, sans-serif;
}

.mat-select {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
}

section {
  grid-template-rows: auto auto;
  gap: 1em;
}

.selectDescAsc {
  height: fit-content;
  align-self: center;
  margin-right: .5em;
}

.dscIcon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}



.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.user-photo{
  background-image: url("/assets/logo-sirio.jpg");
  background-color: white;
  background-position: center;
  background-size: cover;
}
.example-viewport {
  height: 90vh;
  width: 100%;
}
.hideOver {
  overflow: hidden;
}
.test {
  height: 100vh;
}
.example-item {
  height: 50px;
}


h3 {
  margin: 0;
  font-size: 22px;
  color: #E87200;
}

h4 {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #005087;
  font-family: futura-pt,sans-serif;
  font-weight: 300;
  font-style: normal;
}


.menu {
  overflow: hidden;
  background-color: #005087;
  width: 20%;
}


.mat-dialog-container {
  width: 800px;
}

.user-ctn {
  display: flex;
  width: 100%;
}

.user-ctn h2 {
  color: white;
  text-align: center;
  margin: 0;
  margin-top: 6px;
  font-size: 36px;
  font-weight: 200;

}

.show-opc {
  margin: 1.5em 0;
}

.icon-img {
  color: white;
}

li,ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}





.logoShow {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: center;
  display: block;
  margin: auto;
  cursor: pointer;
}
.user-photo {
  width: 140px;
  height: 140px;
  margin: auto;
  border-radius: 10em;
  background-color: rgb(144, 142, 142);
  text-align: center;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.mat-expansion-panel{
  background-color: transparent;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}


.main-ctt {
  grid-column: 3/13;
  padding: 1em 0em;
  background-color: #eaf6ff;
}


h1 {
  margin: 0;
  color: #005087;
  font-size: 50px;
  font-weight: 200;
}

.vender, .editar {
  background-color: white;
  color: #005087;
  border: 1px solid rgb(170, 170, 170);
  border-radius: .2em;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  padding: 0;
}

.plus-svg {
  background-image: url("/assets/Plus_font_awesome.svg");
  background-size: cover;
  filter: invert(100%) sepia(5%) saturate(1820%) hue-rotate(262deg) brightness(116%) contrast(81%);
  width: 280px;
  height: 280px;
  text-align: center;
  margin: auto;
  margin-top: 80px;

}

/*h5 {
  text-align: center;
  font-size: 40px;
  color: #d4d4d4;
  margin: 0;
  font-family: futura-pt, sans-serif;
  font-weight: 200;
  font-style: normal;
}*/


.example-card {
  width: auto;
}

.info {
  margin-bottom: 0em;
  padding: 1em 3em;
}

.agregar-card {
  background-color: #dfdfdf44;
  display: block;
}

.agregar-card:hover {
  cursor: pointer;
}


/* width */
*  ::ng-deep ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
* ::ng-deep ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
* ::ng-deep ::-webkit-scrollbar-thumb {
  background: rgb(184, 184, 184);
  border-radius: 5px;
}

/* Handle on hover */
* ::ng-deep ::-webkit-scrollbar-thumb:hover {
  background: #949494;
}

/*
.menu ::ng-deep ::-webkit-scrollbar {
  width: 5px;
}

.menu ::ng-deep ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

.menu ::ng-deep .mat-drawer-inner-container {
  /*overflow: hidden;
}*/


.displayCheat {
  display: none;
}

.displayCheatTwo {
  display: block;
}

.displayCheatThree {
  display: none;
}

.content ::ng-deep .cdk-virtual-scroll-content-wrapper {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0em;
  display: grid;
  padding-top: 0em;
}

.mainCont {
  flex: 1;
}

.cheating {
  height: 700px;
}

.cheatingTwo {
  height: 200px;
}

.cdk-virtual-scroll-content-wrapper {
  grid: inherit;
}

.paddingToScroll {
  padding: 0em 2em;
}



.toolBar {
  background-color: #005087;
  -webkit-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.35);
  box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.35);
  z-index: 1000;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
}

::ng-deep .sizeIcon{
  height:44px !important;
  width:44px !important;
  font-size:34px !important;
  line-height: 42px !important;
}

::ng-deep .sizeShop {
  font-size:24px !important;
  line-height: 45px !important;
}


::ng-deep .sizePower {
  font-size:33px !important;
  line-height: 45px !important;
}

.addMargin {
  margin-left: .1em;
}

.cName {
  font-family: jubilat, sans-serif;
  font-weight: 200;
}

.toolBarName {
  margin-left: .4em;
  font-family: futura-pt, sans-serif;
  font-size: 26px;
  font-weight: 200;
}
.example-spacer {
  flex: 1 1 auto;
}

.menuPadding {
  padding: 1.5em 1.5em 2em 1.5em;
}

.marcasBtn {
  background-color: #095486;
  margin-left: 1em;
}

@media screen and (max-width: 1600px) {

  .menuPadding {
    padding: 1.5em 1em 2em 1em;
  }

  .logoShow {
    width: 150px;
  }

  .displayCheat {
    display: block;
  }

  .displayCheatTwo {
    display: none;
  }

  .content ::ng-deep .cdk-virtual-scroll-content-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .user-photo {
    width: 9vw;
    height: 9vw;
  }

  .user-ctn {
    width: 100%;
  }

  .user-ctn h2 {
    font-size: 32px;
  }

}


@media screen and (max-width: 700px) {

  .toolBar {
    height: 56px;
  }


  .info {
    padding: 1em;
  }

  .info h1 {
    font-size: 28px;
  }

  .list-items {
    overflow: hidden ;
    max-height: none;
  }

  .contenidoMain {
    padding: 1em 1em;
  }

}


