<div *ngIf="{
  ventasActivas: ventasActivas |async
} as observables">
  <section *ngIf="(load|async) && auth.getTtype() !== 'contador'">
    <div class="info">
      <h1 *ngIf="(observables.ventasActivas).length > 0" >Ventas Activas</h1>
      <h1 *ngIf="(observables.ventasActivas).length === 0" >No hay ni una venta activa</h1>
      <button [ngStyle]="{'width': '180px'}" *ngIf="(observables.ventasActivas).length < 6"
      (click)="openCrearVentaDialog()"
      type="button" class="cVenta"
      color="accent"
      mat-flat-button>Crear Venta</button>
    </div>
    <div *ngIf="observables.ventasActivas" class="contenidoMain">
      <app-venta-activa-card *ngFor="let vent of (observables.ventasActivas)" [ventaCod]="vent"></app-venta-activa-card>
    </div>
  </section>
</div>

