<li class="list-plegable noselect">
    <div matRipple class="grupo noselect" (click)="openList()">
            <h2 class="grupo-name noselect">{{tipoLista.name}}</h2>
            <div class="down-btn" [ngClass]="{'closed-btn': status === false, 'open-btn': status === true}"></div>
          </div>
          <div  [ngClass]="{'closed': status === false}">
          <ul>
            <li matRipple (click)="openDialogSubCat()" class="agregar-sub-lista grupo-interno">
              Agregar Sub-Categoria
              <img src="">
            </li>
            <li matRipple (click)="openDialogEditar()" class="agregar-sub-lista grupo-interno">
              Editar
              <img src="">
            </li>
            <li matRipple (click)="openDialogEliminar()" class="agregar-sub-lista eliminar grupo-interno">
              Eliminar
              <img src="">
            </li>
            <mat-divider></mat-divider>
            <app-sub-lista-desplegable  (closeAllButThis)="closeAllButOne($event)" (loadListItemsSubTipo)="loadSLI($event)"
                                        (openDialogEliminarSub)="eliminarSubTipo($event)"
                                        *ngFor="let sub of (listaDeSub|async)" [parentName]="tipoLista.name"
                                        [nameSub]="sub" [tipoCod]="tipoLista.codigo"></app-sub-lista-desplegable>
          </ul>
          </div>
</li>
