div {
  background-color:  #E87200;
  width: calc(100% - 8em);
  height: calc(100vh - 8em);
  padding: 4em;
}

p {
  margin: 0;
  color: white;
  font-weight: 800;
  font-size: 60px;
  margin-bottom: 1em;
  font-family: Roboto, sans-serif;
}

a {
  color: white;
  font-size: 30px;
  font-weight: 100;
  font-family: Roboto, sans-serif;
  text-decoration: none;
}
