<li class="list-plegable noselect">
  <div matRipple class="grupo noselect" (click)="openList()">
          <h2 class="grupo-name noselect">{{nameSub$|async}}</h2>
          <div class="down-btn" [ngClass]="{'closed-btn': (status$|async) === false, 'open-btn': (status$|async) === true}"></div>
        </div>
        <div  [ngClass]="{'closed': (status$|async) === false}">
        <ul>
          <li matRipple (click)="openAgregarItemDialog()" class="agregar-sub-lista grupo-interno">
            Agregar
            <img src="">
          </li>
          <li matRipple (click)="openDialogEditar()" class="agregar-sub-lista grupo-interno">
            Editar
            <img src="">
          </li>
          <li matRipple (click)="openDialogEliminar()" class="agregar-sub-lista eliminar grupo-interno">
            Eliminar
            <img src="">
          </li>
          <mat-divider></mat-divider>
          <li *ngFor="let item of (listaDeItems|async)" class="grupo-interno noselect">{{item.name}}</li>
        </ul>
        </div>
</li>
