li,ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0 0 0 15px;
  margin: 0;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.grupo {
  min-height: 30px;
  line-height: 30px;
  display: block;
  padding: 4px;
  border-radius: .3em;
  cursor: pointer;
  display: grid;
  grid-template-columns: 90% 10%;
}

.grupo-interno {
  min-height: 30px;
  line-height: 30px;
  display: block;
  padding: 0 20px;
  border-radius: .2em;
  cursor: pointer;
  display: grid;
  grid-template-columns: 100%;
  color: #f3e6d9;
  font-size: 14px;
  margin: .25em 0em .25em 0em;
  font-weight: 200;
  margin: .5em 0 .5em 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

li h2 {
  color: #d69b63;
  font-size: 14px;
  display: inline-block;
  margin: 0;
  vertical-align: text-bottom;
  font-weight: 600;
}


.down-btn {
  background-image: url("/assets/down.svg");
  display: inline-block;
  width: 18px;
  height: 18px;
  filter: invert(80%) sepia(7%) saturate(3541%) hue-rotate(330deg) brightness(92%) contrast(85%);
  transform: rotate(180deg);
  align-self: center;
  margin: auto;
}

.closed-btn {
  animation: mymove .25s;
}

.open-btn {
  animation: mysmove .25s forwards;
}

@keyframes mysmove {
  100% {transform: rotate(90deg);}
}

@keyframes mymove {
  100% {transform: rotate(180deg);}
}

.grupo:hover, .grupo-interno:hover {
  background-color: #014c7e;
}


.closed {
  display: none;
}

.open {
  display: block;
}

li h2 {
  font-size: 14px;
  margin: .25em 0em .25em 0em;
}

.agregar-sub-lista{
  margin-bottom: .2em;
  color: #d8bb9f;
}

.eliminar {
  margin-bottom: .4em;
}

@media screen and (max-width: 1400px) {

  .grupo-interno {
    font-size: 12px;
  }

}

@media screen and (max-width: 800px) and (orientation:portrait) {

  .grupo {
    padding: 5px;
    border-radius: .3em;
    cursor: pointer;
    display: grid;
    grid-template-columns: 90% 10%;
}


}

