<mat-toolbar [ngStyle]="{'padding': '.5em'}" class="example-toolbar toolBar">
  <button (click)="slide.next(!slide.value)" color="accent" class="sizeIcon  menuBtn" mat-icon-button><mat-icon
      class="sizeIcon">menu</mat-icon></button>
  <span class="toolBarName"> <b (click)="reloadPage()" [ngStyle]="{'cursor': 'pointer'}" class="cName">Sirio
      Dinar</b></span>
  <span class="example-spacer"></span>


  <div [ngStyle]="{'display': 'flex'}" *ngIf="(loggedInfo$|async) as loggedInfo">
    <div tabindex="0" matTooltip="Usuario" class="perfilBtns"
      [ngStyle]="{'cursor': 'pointer', 'padding-bottom': '2px' }" [matMenuTriggerFor]="menu">
      <!--<span *ngIf="!mobileQuery.matches">{{nombreUsuario}}</span>-->
      <mat-icon class="personI" color="accent" [ngStyle]="{  'align-self': 'center', 'font-size': '26px',
      border: 0, outline: 'none' }">
        person</mat-icon>
    </div>

    <mat-menu #menu="matMenu">
      <button aria-label="Usuario" routerLink="/usuario" *ngIf="loggedInfo.authenticated" mat-menu-item>
        <mat-icon color="accent">account_box</mat-icon>
        Perfil
      </button>
      <button aria-label="Inicio de sesión" (click)="aToLogin()" *ngIf="!loggedInfo.authenticated" mat-menu-item>
        <mat-icon color="accent">account_box</mat-icon>
        <span>Iniciar Sesión</span>
      </button>
      <button aria-label="Cerrar Sesisón" (click)="cerrarSesion()" *ngIf="loggedInfo.authenticated" mat-menu-item>
        <mat-icon color="accent">power_off</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>

    <button aria-label="Ir A Inventario" (click)="aInventario()" matTooltip="Inventario" mat-icon-button
      class="sizeIcon">
      <mat-icon color="accent" class="sizeIcon  sizeShop">assignment</mat-icon>
    </button>
    <button aria-label="Ir a ventas" *ngIf="loggedInfo.authenticated && loggedInfo.type !== 'low'" routerLink="/ventas"
      matTooltip="Ventas" mat-icon-button class="sizeIcon addMargin">
      <mat-icon color="accent" class="sizeIcon  sizeShop">shopping_cart</mat-icon>
    </button>
    <button aria-label="Ir a reportes" *ngIf="loggedInfo.authenticated && loggedInfo.type !== 'low'"
      routerLink="/reportes" matTooltip="Reportes" mat-icon-button class="sizeIcon addMargin">
      <mat-icon color="accent" class="sizeIcon  sizeShop">show_chart</mat-icon>
    </button>

  </div>


</mat-toolbar>
<section *ngIf="
{
  slide: slide | async,
  reporte: reporte$ | async
} as observables" class="mainSpace">
  <nav [ngClass]="{'slide-in' : (observables.slide) === true, 'slide-out': (observables.slide) === false}"
    class="sidenav">
    <div class="titulo">
      <h1>Reportes Estadisticos</h1>
    </div>
    <mat-divider></mat-divider>
    <mat-list role="list">
      <mat-list-item (click)="selectReporte(0)" [ngClass]="{'selected': (observables.reporte) === 0}"
        [ngStyle]="{'color': '#005087'}" matRipple [matRippleColor]="'#cfaa842c'" role="listitem">
        <h4>RESUMEN GENERAL</h4>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-list role="list">
      <div mat-subheader [ngStyle]="{'color': '#E87200'}">Reportes</div>
      <mat-list-item (click)="selectReporte(1)" [ngClass]="{'selected': (observables.reporte) === 1}" matRipple
        [matRippleColor]="'#cfaa842c'" role="listitem">
        <h4>REPORTE DE ITEMS</h4>
      </mat-list-item>
      <mat-list-item (click)="selectReporte(2)" [ngClass]="{'selected': (observables.reporte) === 2}" matRipple
        [matRippleColor]="'#cfaa842c'" role="listitem">
        <h4>REPORTE POR ITEM</h4>
      </mat-list-item>
    </mat-list>
  </nav>
  <router-outlet></router-outlet>
  <div (click)="slide.next(!slide.value)" *ngIf="observables.slide" class="panel"></div>
</section>