<main>
  <h1>POLÍTICA DE DEVOLUCIÓN</h1>
  <p>
    Nuestra política dura 15 días. Si pasaron 30 días desde su compra, desafortunadamente no podemos ofrecerle un reembolso ni un cambio.
  </p>
  <p>
    Para ser elegible para una devolución, su artículo debe estar sin usar y en la misma condición en que lo recibió. También debe estar en el embalaje original.
  </p>
  <p>
    Varios tipos de productos están exentos de devolución. No aceptamos productos que sean íntimos o sanitarios, materiales peligrosos ni líquidos o gases inflamables.
  </p>

  <p>
    Para completar su devolución, necesitamos un recibo o comprobante de compra.No devuelva su compra al fabricante.
  </p>

  <h3>
    NOTA DE CRÉDITO
  </h3>
  <p>
    Se te entregará una nota de crédito por el valor del producto devuelto. Podrás utilizar la nota de crédito para tu siguiente compra.
  </p>

  <h3>
    REEMBOLSO
  </h3>
  <p>
    Tramitaremos el reembolso tan pronto verifiquemos que tu producto cumple con las políticas de devolución. Tu banco puede demorar 15 días útiles en reflejar el reembolso en tu estado de cuenta. Este plazo podría ampliarse hasta 30 días útiles según el medio de pago que utilizaste.
  </p>
  <p>
    Si pagaste con Pago Efectivo, se te devolverá el dinero en efectivo.
  </p>
  <h3>
    {{'Reembolsos tardíos o faltantes'|uppercase}}
  </h3>
  <p>
Si aún no recibió un reembolso, primero revise de nuevo su cuenta bancaria.
Luego, comuníquese con la empresa de su tarjeta de crédito. Puede demorar algún tiempo antes de que su reembolso se vea reflejado de manera oficial.
Después, contacte a su banco. A menudo es necesario un tiempo de procesamiento antes de poder ver reflejado un reembolso.
Si ya hizo todo lo anterior y aún no recibió su reembolso, puede contactarnos escribiendo a tacetarip@gmail.com.
  </p>

  <h3>
    CAMBIOS
  </h3>

  <p>
Solo reemplazamos los artículos si están defectuosos o dañados.  Si necesita cambiarlo por el mismo artículo, envíenos un correo electrónico a tacetarip@gmail.com y envíe o visitenos con su artículo a: Jr. Pardo y Aliaga Nro. 207, Trujillo, LAL, 13001, Peru.
  </p>

  <h3>
    ENVIO DEL PRODUCTO
  </h3>
  <p>
    Los costos de envío para devolver su artículo corren por su cuenta. Los costos de envío no son reembolsables. Si recibe un reembolso, el costo de envío de la devolución se deducirá de su reembolso.
Según dónde viva, el tiempo que tome recibir el cambio de su producto puede variar.
  </p>
  <p>
    Se recomienda usar un servicio de envío con seguimiento o comprar un seguro de envío. No garantizamos que recibiremos la devolución de su artículo.
  </p>
</main>
