<img src="assets/close.svg" mat-dialog-title matDialogClose class="close-btn">
<h1 mat-dialog-title>Venta De: <b>Gauntes Badana</b></h1>
<form>
    <div mat-dialog-content>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Agregar A Venta</mat-label>
        <mat-select>
      <mat-option value="option">No Agregar</mat-option>
      <mat-option value="option">#535mkF</mat-option>
      </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill"  class="example-full-width">
        <mat-label>Cantidad</mat-label>
        <input type="number" min="0" step="1" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill"  class="example-full-width">
        <mat-label>Precio</mat-label>
        <input [disabled]="disabled" value="90.00" type="number" min="1" step="1" matInput>
        <span matPrefix>S/ </span>
      </mat-form-field>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Tipo De Comprobante</mat-label>
        <mat-select>
      <mat-option value="option">Factura</mat-option>
      <mat-option value="option">Boleta</mat-option>
      </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill"  class="example-full-width">
        <mat-label>DNI</mat-label>
        <input maxlength="8" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill"  class="example-full-width">
        <mat-label>RUC</mat-label>
        <input maxlength="8"  matInput>
      </mat-form-field>
      <mat-checkbox (click)="changePrice()" class="hpc">Habilitar precio</mat-checkbox>
      <h2>Total: XX</h2>
    </div>
    <div mat-dialog-actions>
      <button type="button" mat-flat-button color="primary">Vender</button>
      <button type="button" mat-flat-button color="primary">Crear Venta</button>
    </div>
</form>
