.info {
  width: 100%;
}

.info ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: .5em .5em 0 .5em;
}

.info ::ng-deep .mat-form-field-wrapper {
  padding: 0;
}

.info ::ng-deep .mat-form-field-underline {
  display: none;
}

.acciones {
  display: flex;
  justify-content: flex-end;

}

.selectSort {
  width: 140px;
  align-self: center;
  font-size: 14px;
  font-family: futura-pt, sans-serif;
}

.mat-select {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
}



h3 {
  margin: 0;
  font-size: 22px;
  color: #E87200;
}

h4 {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #005087;
  font-family: futura-pt,sans-serif;
  font-weight: 300;
  font-style: normal;
}



.final {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
}

b {
  color: #E87200;
}

.final button {
  width: 180px;
  height: 40px;
  grid-column: 1/2;
  align-self: flex-end;
}

h4 {
  margin-bottom: .5em;
}

span {
  color: #E87200;
}

.totales {
  justify-self: end;
  text-align: end;
  margin-right: 1em
}

.mat-dialog-container {
  width: 800px;
}




.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.mat-expansion-panel{
  background-color: transparent;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}


.main-ctt {
  grid-column: 3/13;
  padding: 1em 0em;
  background-color: #eaf6ff;
}


h1 {
  margin: 0;
  color: #005087;
  font-size: 50px;
  font-weight: 200;
}

.vender, .editar {
  background-color: white;
  color: #005087;
  border: 1px solid rgb(170, 170, 170);
  border-radius: .2em;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  padding: 0;
}

.plus-svg {
  background-image: url("/assets/Plus_font_awesome.svg");
  background-size: cover;
  filter: invert(100%) sepia(5%) saturate(1820%) hue-rotate(262deg) brightness(116%) contrast(81%);
  width: 280px;
  height: 280px;
  text-align: center;
  margin: auto;
  margin-top: 80px;

}

/*h5 {
  text-align: center;
  font-size: 40px;
  color: #d4d4d4;
  margin: 0;
  font-family: futura-pt, sans-serif;
  font-weight: 200;
  font-style: normal;
}*/


.example-card {
  width: auto;
}

.info {
  margin-bottom: 0em;
}

.agregar-card {
  background-color: #dfdfdf44;
  display: block;
}

.agregar-card:hover {
  cursor: pointer;
}


/* width */
*  ::ng-deep ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
* ::ng-deep ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
* ::ng-deep ::-webkit-scrollbar-thumb {
  background: rgb(184, 184, 184);
  border-radius: 5px;
}

/* Handle on hover */
* ::ng-deep ::-webkit-scrollbar-thumb:hover {
  background: #949494;
}

/*
.menu ::ng-deep ::-webkit-scrollbar {
  width: 5px;
}

.menu ::ng-deep ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

.menu ::ng-deep .mat-drawer-inner-container {
  /*overflow: hidden;
}*/


.displayCheat {
  display: none;
}

.displayCheatTwo {
  display: block;
}

.displayCheatThree {
  display: none;
}


.mainCont {
  flex: 1;
}


.paddingToScroll {
  padding: 0em 2em;
}

.showBar {
  display: none;
}

.toolBar {
  background-color: #005087;
  -webkit-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.35);
  box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.35);
  z-index: 1000;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
}

::ng-deep .sizeIcon{
  height:44px !important;
  width:44px !important;
  font-size:34px !important;
  line-height: 42px !important;
}

::ng-deep .sizeShop {
  font-size:24px !important;
  line-height: 45px !important;
}


::ng-deep .sizePower {
  font-size:33px !important;
  line-height: 45px !important;
}

.addMargin {
  margin-left: .1em;
}

.cName {
  font-family: jubilat, sans-serif;
  font-weight: 200;
}

.toolBarName {
  margin-left: .4em;
  font-family: futura-pt, sans-serif;
  font-size: 26px;
  font-weight: 200;
}
.example-spacer {
  flex: 1 1 auto;
}

.menuPadding {
  padding: 1.5em 1.5em 2em 1.5em;
}

.marcasBtn {
  background-color: #095486;
  margin-left: 1em;
}

table {
  width: 100%;
}

td, th {
  width: 15%;
}

.atTheEND {
  text-align: end !important;
}

.cuarenta {
  width: 40%;
}

section {
  padding: 1em 3em;
  display: 	grid;
  column-gap: 1em;
  row-gap: 2em;
}

h5 {
  margin: 4px 0;
  font-size: 16px;
  font-family: futura-pt, sans-serif;
  font-weight: 200;
  color: #005087;
}

.marginBtn {
  margin-right: .5em;
}

.buttons {
  align-self: flex-end;
}

@media screen and (max-width: 1600px) {

  .menuPadding {
    padding: 1.5em 1em 2em 1em;
  }


  .content ::ng-deep .cdk-virtual-scroll-content-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .user-photo {
    width: 9vw;
    height: 9vw;
  }

  .user-ctn {
    width: 100%;
  }

  .user-ctn h2 {
    font-size: 32px;
  }

}


@media screen and (max-width: 1100px) {
  .content ::ng-deep .cdk-virtual-scroll-content-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .displayCheatThree {
    display: block;
  }

  .displayCheat {
    display: none;
  }
}


@media screen and (max-width: 1100px)  {

  .menu {
    width: 25%;
    box-shadow: none;
  }
  .showBar {
    display: flex;
  }
  .list-items {
    max-height: 65vh;
  }
}


@media screen and (max-width: 820px) {
  .content ::ng-deep .cdk-virtual-scroll-content-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 820px) {

  .toolBar {
    height: 56px;
  }


  .info h1 {
    font-size: 38px;
  }

  .menu {
    width: 40%;
    box-shadow: none;
  }
  .menu ::ng-deep .mat-drawer-inner-container {
    overflow: auto;
  }
  .list-items {
    overflow: hidden ;
    max-height: none;
  }

}

@media screen and (max-width: 700px) {
  .content ::ng-deep .cdk-virtual-scroll-content-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }





}

@media screen and (max-width: 700px) {
  .user-ctn h2 {
    font-size: 36px;
  }
  .info {
    margin: 0;
  }
  .user-photo {
    width: 30vw;
    height: 30vw;
  }

  .list-items {
    max-height: none;
  }
  .menu {
    width: 80%;
    box-shadow: none;
  }

  .mainCont {
    background-color: #f6fbff;
  }

   .paddingToScroll {
     padding: 1em;
   }
}
