<section *ngIf="(venta$|async) as ventaOBS" class="mainPost">
  <div class="info">
    <h1><span>#{{(ventaOBS).codigo}}</span></h1>
    <h5>Realizada: {{(ventaOBS).date | date}} {{date}} | {{(ventaOBS).codigo}} |  {{(ventaOBS).vendedor}}</h5>
  </div>

  <mat-tab-group color="accent" dynamicHeight>
    <mat-tab  label="Conteo Simple">
      <div class="tableCont">
        <table mat-table [dataSource]="(dataSource$|async)" >
          <!-- Position Column -->
          <ng-container matColumnDef="codigo">
            <th  mat-header-cell *matHeaderCellDef> Cod. </th>
            <td  mat-cell *matCellDef="let element"> {{element.codigo}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th class="cuarenta" mat-header-cell *matHeaderCellDef> Nombre </th>
            <td class="cuarenta" mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="cantidad">
            <th class="atTheEND" mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td class="atTheEND" mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="priceIGV">
            <th class="atTheEND"  mat-header-cell *matHeaderCellDef> Precio/UD </th>
            <td class="atTheEND"  mat-cell *matCellDef="let element"> S/{{element.priceIGV|currency:' '}} </td>
          </ng-container>

          <ng-container matColumnDef="totalPrice">
            <th class="atTheEND" mat-header-cell *matHeaderCellDef> Precio Total </th>
            <td class="atTheEND" mat-cell *matCellDef="let element"> S/{{element.totalPrice|currency:' '}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-tab>
    <mat-tab label="Conteo Detallado">
      <div class="contenidoCardVentas tableCont">
        <table mat-table [dataSource]="(tableVentaInfo$|async)" class="mat-elevation-z8">
          <!-- Item Column -->
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Cod. </th>
            <td mat-cell *matCellDef="let tableVentaInfo"> {{tableVentaInfo.codigo}} </td>
          </ng-container>


          <ng-container matColumnDef="name">
            <th class="vientoPor" mat-header-cell *matHeaderCellDef> Nombre </th>
            <td class="vientoPor" mat-cell *matCellDef="let tableVentaInfo"> {{tableVentaInfo.name}} </td>
          </ng-container>

          <ng-container matColumnDef="subName">
            <th mat-header-cell *matHeaderCellDef> Sub I </th>
            <td mat-cell *matCellDef="let tableVentaInfo"> {{tableVentaInfo.cantidadSC ? tableVentaInfo.cantidadSC.name : '...'}} </td>
          </ng-container>


          <ng-container matColumnDef="subNameSecond">
            <th mat-header-cell *matHeaderCellDef> Sub II </th>
            <td mat-cell *matCellDef="let tableVentaInfo"> {{tableVentaInfo.cantidadSC && tableVentaInfo.cantidadSC.nameSecond ? tableVentaInfo.cantidadSC.nameSecond : '...'}} </td>
          </ng-container>

          <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let tableVentaInfo">
              {{tableVentaInfo.cantidadSC ? tableVentaInfo.cantidadSC.cantidadVenta : tableVentaInfo.cantidad}} </td>
          </ng-container>

          <ng-container matColumnDef="priceIGV">
            <th mat-header-cell *matHeaderCellDef> Precio </th>
            <td mat-cell *matCellDef="let tableVentaInfo"> S/{{tableVentaInfo.priceIGV|currency: ' '}} </td>
          </ng-container>

          <ng-container matColumnDef="total">
            <th mat-header-cell *matHeaderCellDef> P. Total </th>
            <td mat-cell *matCellDef="let tableVentaInfo">
              {{(tableVentaInfo.cantidadSC ?  tableVentaInfo.cantidadSC.cantidadVenta * tableVentaInfo.priceIGV : tableVentaInfo.totalPrice)|currency: 'S/ ' }} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumnsVenta"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsVenta;"></tr>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="final">
    <div class="btns">
      <button *ngIf="(ventaOBS).linkComprobante"  (click)="desargarPDFsunat()" mat-flat-button color="primary">Descargar PDF SUNAT</button>
      <button *ngIf="(ventaOBS).guia"  (click)="descargarGUIA()" mat-flat-button color="primary">Descargar Guía</button>
      <button    (click)="descargarPDF()" mat-flat-button color="primary">Descargar PDF</button>
      <button *ngIf="(ventaOBS).estado === 'ejecutada'"  (click)="anularVenta()" mat-stroked-button color="accent">Anular Venta</button>
    </div>

    <div class="totales">
      <h4>Total Base: S/{{((ventaOBS).totalPriceNoIGV)|currency:' '}}</h4>
      <h4>IGV 18%: S/{{((ventaOBS).totalPrice - (ventaOBS).totalPriceNoIGV)|currency:' '}}</h4>
      <h3>Total: S/{{((ventaOBS).totalPrice)|currency:' '}}</h3>
    </div>
  </div>
</section>

