.bg {
  background: url('/assets/supply.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-top:0;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
}

h2 {
  margin: 0;
}

.formPone {
  display: grid;
  gap: .4em;
}

.registerCard {
  background-color: rgb(248, 251, 253);
  width: 312px;
  align-self: center;
  justify-self: center;
  border-radius: 16px;
  display: grid;
  padding: 3em;
  gap: 1em;
  overflow: hidden;
}

.registerCardPost {
  width: 468px;
}

.textP {
  font-family: 'Roboto', sans-serif;
  color: #005087;
  font-weight: 200;
  font-size: 2.5em;
  margin: 0;
}

h4 {
  color: #E87200;
  font-size: 1.5em;
  font-weight: 600;
}


a {
  font-family: futura-pt, sans-serif;
  margin: 0;
}

h1, h4 {
  margin: 0;
}

.topLink {
  text-decoration: none;
  font-size: 20px;
  color: #005087;
  display: contents;
  font-weight: 600;
}

.topLink:hover {
  color: #E87200;
}

form {
  display: grid;
  grid-template-columns: 312px 312px;
  gap: 3em;
  width: 312px;
}

.formstyle {
  width: 100%;
}

@keyframes formTwoNext {
  0% {
    transform: translateX(calc(0));
    transition-timing-function: ease-out;
  }
  100% {
    transition-timing-function: translateX(calc(-624px - 6em));
    transform: translateX(0);
  }
}

@keyframes formOneBack {
  0% {
    transform: translateX(calc(-312px - 3em));
    transition-timing-function: ease-out;
  }
  100% {
    transition-timing-function: ease-out;
    transform: translateX(0);
  }
}

@keyframes formOne {
  0% {
    transform:translateX(0);
    transition-timing-function: ease-out;
  }
  100% {
    transition-timing-function: ease-out;
    transform: translateX(calc(-312px - 3em));
  }
}




button {
  border: none;
}

button:hover {
  cursor: pointer;
}

.example-spacer {
  flex: 1 auto;
}

.nombrePrincipal {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #E87200;
}


.nombrePrincipal b {
  color: #005087;
}

.regreso {
  color: #E87200;
}

.regreso:hover {
  color: #005087;
}

.changeColor:hover {
  color: #E87200;
}

::ng-deep .changeColor:hover {
  color: #E87200 !important;
}

.google {
  padding: 8px 16px;
  background-color: #4285F4;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  align-items: center;
  justify-content: center;
  width: 280px;
  display: grid;
  grid-template-columns: 46px calc(280px - 46px);
  cursor: pointer;
  align-self: center;
  justify-self: center;
}

H3 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: black;
  font-size: 14px;
  text-align: center;
}

.toolbar {
  position: 'fixed';
  top: 0;
  z-index: 100;
}

.regreso {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-height: 900px) and (orientation: landscape) {
  .registerCard {
    transform: scale(.75);
  }
}

@media screen and (max-height: 600px) and (orientation: landscape) {
  .registerCard {
    transform: scale(.8);
    height: 50%;
    overflow-y: auto;
    padding-bottom: 50px;
  }
}


@media screen and (max-width: 550px) and (orientation: portrait) {
  .registerCard {
    padding: 0;
  }

  .bg {
    background-image: none;
    padding: 20px 0 40px 0;
    height: auto;
  }

  form {
    background-color: white;
  }

  .registerCard {
    background-color: white;
  }

  .toolbar {
    position: block;
  }
}
