.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.user-photo{
  background-image: url("/assets/logo-sirio.jpg");
  background-color: white;
  background-position: center;
  background-size: cover;
}
.example-viewport {
  height: 90vh;
  width: 100%;
}
.hideOver {
  overflow: hidden;
}
.test {
  height: 100vh;
}
.example-item {
  height: 50px;
}


h3 {
  margin: 0;
  font-size: 22px;
  color: #E87200;
}

h4 {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #005087;
  font-family: futura-pt,sans-serif;
font-weight: 300;
font-style: normal;
}


.menu {
  overflow: hidden;
  background-color: #005087;
  width: 20%;

}


.mat-dialog-container {
  width: 800px;
}

.user-ctn {
  margin: auto;
  width: 50%;
}

.user-ctn h2 {
  color: white;
  text-align: center;
  margin: 0;
  margin-top: 6px;
  font-size: 36px;
  font-weight: 200;

}

.show-opc {
  margin: 1.5em 0;
}

.icon-img {
  color: white;
}

li,ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}


li h2 {
  color: #E87200;
  font-size: 20px;
  display: inline-block;
  margin: 0;
  vertical-align: text-bottom;
  font-weight: 600;
}

.down-btn {
  background-image: url("/assets/down.svg");
  display: inline-block;
  width: 18px;
  height: 18px;
  filter: invert(54%) sepia(35%) saturate(4661%) hue-rotate(3deg) brightness(92%) contrast(104%);
  transform: rotate(90deg);
  align-self: center;
  margin: auto;
}


.user-photo {
  width: 130px;
  height: 130px;
  margin: auto;
  border-radius: 5em;
  background-color: rgb(144, 142, 142);
  text-align: center;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.mat-expansion-panel{
  background-color: transparent;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.menu {
  padding: 2em 2em;
}

.content {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding-bottom: 1em;
  /* padding: 2em;*/
  display: grid;
}

.main-ctt {
  grid-column: 3/13;
  padding: 1em 0em;
}

.final-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  padding-bottom: 0;
  grid-gap: .5em;
}

h1 {
  margin: 0;
  color: #005087;
  font-size: 52px;
  font-weight: 200;
}

/*
h5 {
  text-align: center;
  font-size: 40px;
  color: #d4d4d4;
  margin: 0;
  font-family: futura-pt, sans-serif;
  font-weight: 200;
  font-style: normal;
}*/


.ficha-btn:hover {
  cursor: pointer;
  background-color: #0051871c;
}

.ficha-btn:focus,
.ficha-btn:active {
  background-color: #0051872c;
}


.info {
  margin-bottom: 1em;
  padding: 0em 2em;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(184, 184, 184);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #949494;
}


.menu ::ng-deep .mat-drawer-inner-container {
  overflow: hidden;
}

.list-items {
  overflow: auto !important;
  max-height: 600px;
}


.content ::ng-deep .cdk-virtual-scroll-content-wrapper {
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
  display: grid;
  padding-top: .3em;
}




.paddingToScroll {
  padding: 0em 2em;
}

.showBar {
  display: none;
}

.toolBar {
  padding: .5em !important;
  background-color: #005087;
  -webkit-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.35);
  box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.35);
  z-index: 1000;
}

::ng-deep .sizeIcon{
  height:44px !important;
  width:44px !important;
  font-size:34px !important;
  line-height: 42px !important;
}

::ng-deep .sizeShop {
  font-size:31px !important;
  line-height: 45px !important;
}


::ng-deep .sizePower {
  font-size:33px !important;
  line-height: 45px !important;
}

.addMargin {
  margin-left: .1em;
}

.toolBarName {
  margin-left: .2em;
}
.example-spacer {
  flex: 1 1 auto;
}

@media screen and (max-width: 1600px) {


  .list-items {
    overflow: auto !important;
    max-height: 300px;
  }

  .content ::ng-deep .cdk-virtual-scroll-content-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .user-photo {
    width: 9vw;
    height: 9vw;
  }

  .user-ctn {
    width: 100%;
  }

  .user-ctn h2 {
    font-size: 32px;
  }

  .menu {
    padding: 2em 1em;
  }
}


@media screen and (max-width: 1100px) {
  .content ::ng-deep .cdk-virtual-scroll-content-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .displayCheatThree {
    display: block;
  }

  .displayCheat {
    display: none;
  }
}


@media screen and (max-width: 1100px)  {

  .menu {
    width: 25%;
    box-shadow: none;
  }
  .showBar {
    display: flex;
  }
  .list-items {
    max-height: 840px;
  }
}


@media screen and (max-width: 800px) {
  .content ::ng-deep .cdk-virtual-scroll-content-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 800px) {


  .toolBar {
    height: 56px;
  }

  .info h1 {
    font-size: 36px;
  }

  .menu {
    width: 40%;
    box-shadow: none;
  }
  .list-items {
    max-height: 30vh;
  }

}

@media screen and (max-width: 700px) {
  .content ::ng-deep .cdk-virtual-scroll-content-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

}

@media screen and (max-width: 700px) {
  .user-ctn h2 {
    font-size: 36px;
  }
  .info {
    padding: .5em 1em;
    margin: 0;
  }
  .user-photo {
    width: 30vw;
    height: 30vw;
  }

  .list-items {
    max-height: 35vh;
  }
  .menu {
    width: 80%;
    box-shadow: none;
  }

  .mainCont {
    background-color: #f6fbff;
  }

   .paddingToScroll {
     padding: 1em;
   }
}
