<div class="main" [class.example-is-mobile]="mobileQuery.matches" >
    <mat-toolbar [ngStyle]="{'padding': '.5em'}" color="primary" class="example-toolbar toolBar">
      <button (click)="snav.toggle()" class="sizeIcon" mat-icon-button><mat-icon class="sizeIcon">menu</mat-icon></button>
      <span class="toolBarName"> <b class="cName">Sirio Dinar</b>|Ventas</span>
      <span class="example-spacer"></span>
      <div class="usuario">
        <span class="nombreUsuario"> {{nombreUsuario}}</span>
        <mat-icon class="userIcon">person</mat-icon>
      </div>
      <button (click)="aInventario()"  matTooltip="Inventario" mat-icon-button class="sizeIcon addMarginTwo">
        <mat-icon class="sizeIcon  sizeShop">assignment</mat-icon>
      </button>
      <button (click)="aVentas()"  matTooltip="Ventas" mat-icon-button class="sizeIcon addMargin">
        <mat-icon class="sizeIcon  sizeShop">shopping_cart</mat-icon>
      </button>

    </mat-toolbar>
    <mat-sidenav-container class="mainCont" [style.marginTop.px]="mobileQuery.matches ? 55: 0">
      <mat-sidenav #snav style="overflow:hidden"
          [fixedInViewport]="mobileQuery.matches"  fixedTopGap="56" [mode]="mobileQuery.matches ? 'over' : 'side'" class="menu" [opened]="!mobileQuery.matches" >
        <div class="menuPadding">
        <div class="user-ctn">
          <img (click)="reloadPage()" src="assets/logoRER.svg" class="logoShow">
        </div>
        <div class="list-items">
          <ul class="list-general">
            <li (click)="goToVentaActiva()" class="list-plegable noselect">
              <div matRipple class="grupo noselect">
                <h2 class="grupo-name noselect">Venta Activa</h2>
                <div class="down-btn" ></div>
              </div>
            </li>
            <mat-divider></mat-divider>
            <li (click)="goToVentaHistorial()" class="list-plegable noselect">
              <div matRipple class="grupo noselect">
                <h2 class="grupo-name noselect">Historial De Ventas</h2>
                <div class="down-btn"></div>
              </div>
            </li>
            <mat-divider></mat-divider>
            <li (click)="goToCotizaciones()" class="list-plegable noselect">
              <div matRipple class="grupo noselect">
                <h2 class="grupo-name noselect">Cotización</h2>
                <div class="down-btn"></div>
              </div>
            </li>
          </ul>
        </div>
        </div>
      </mat-sidenav>
      <mat-sidenav-content class="hideOver main-ctt">
        <router-outlet ></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>

