main {
  padding: 3em;
}



table {
  width: 100%;
  min-width: 850px;
}


.borderTable {
  border: solid .5px rgb(211, 211, 211);
  position: relative;
}

.actions {
  display: flex;
  align-items: center;
  margin-top: 1.5em;
}

h3 {
  margin: 0;
  color: #005087;
}


.spacer {
  flex: 1 1 auto;
}

.shade-spin {
  padding: 50px;
  background: rgba(0, 0, 0, 0.05);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainTableContenedor {
  padding: 1em 0;
  overflow: auto;
}

.mat-column-priceIGV {
  width: 12%;
}

.mat-paginator {
  min-width: 1200px;
}

.numeracion-tabla {
  border-right: solid 1px rgb(179, 179, 179);
  padding-right: 24px;
  width: 4%;
  text-align: center;
}

.mat-column-name {

  width: 26%;
}

/*.mat-column-cantidad input {
  width: 50%;
}*/

.vientoPor {
  font-size: 18px;
  font-weight: 500;
}


.mat-column-imagen div {
  display: flex;
  padding: 8px 0;
  justify-content: center;
}


.mat-column-cantidad,
.mat-column-total,
.mat-column-subName
{
  width: 12%;
}

.outline-form {
  width: 80%;
}

.mat-column-cantidad ::ng-deep .mat-form-field-infix {
  width: auto !important;
}

.error-state {
  padding-bottom: 2.5em;
}

.error-custom {
  margin-top: 2em;
}

.mat-column-cantidad ::ng-deep .mat-form-field-wrapper  {
  padding-bottom: 0;
}

.mat-column-subNameSecond {
  width: 12%;
}

.mat-column-delete {
  width: 4%;
}

.mat-column-imagen {
  width: 6%;
}

main {
  min-height: 45vh;
  display: flex;
  justify-content: center;
}

.non-message {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  gap: 1em;
}

.non-message h1 {
  color: #005087;
  font-size: 58px;
  font-weight: 200;
  width: 100%;
  margin: 0;
  text-align: center;
}

.non-message a {
  color: #E87200;
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
}

.non-message h1 span {
  font-size: 50px!important;
  height: 50px;
}

.non-message h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
