.venta-card {
  width: 100%;
}

.header-card ::ng-deep .mat-card-header-text {
  margin: 0;
  font-family: futura-pt,sans-serif;
  font-weight: 600;
}

.mat-card-title {
  font-weight: 600;
  color: #005087;
}

b {
  color: #E87200;
}

table {
  width: 100%;
  margin-top: 2em;
  box-shadow: none;
}

tr.mat-footer-row {
  font-weight: bold;
}

input[type=number] {
  width: 50px;
}

input[type=number]:focus {
  outline: none;
  border: 1px solid  #E87200;
}
