<h1 mat-dialog-title>Marcas</h1>
<mat-selection-list #marcas class="listaMarca">
  <mat-list-option *ngFor="let marca of (marcasList|async)" [value]="marca.name">
    {{marca.name}}
  </mat-list-option>
</mat-selection-list>
<form [formGroup]="form">
    <div mat-dialog-content>
      <mat-form-field appearance="fill"  class="example-full-width">
        <mat-label>Agregar Marca</mat-label>
        <input spellcheck="false" name="name" id="name" formControlName="name" maxlength = "40" matInput>
      </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
      <button (click)="deleteMarcas(marcas.selectedOptions.selected)" type="button" [disabled]="marcas.selectedOptions.selected.length < 1"
                      type="button" mat-stroked-button color="accent">Eliminar</button>
      <button (click)="onSubmit(form.value)" type="submit" [disabled]="!form.valid" type="button" mat-flat-button color="primary">Agregar</button>
      <button  type="button" type="button" mat-flat-button color="primary" mat-dialog-close>Listo</button>
    </div>
</form>

