.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.example-container {
  position: relative;
  min-height: 200px;
}

.info {
  width: 100%;
}


h3 {
  margin: 0;
  font-size: 22px;
  color: #E87200;
}

h4 {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #005087;
  font-family: Roboto,sans-serif;
  font-weight: 300;
  font-style: normal;
}


h4 {
  margin-bottom: .5em;
}

span {
  color: #E87200;
}



h1 {
  margin: 0;
  color: #005087;
  font-size: 50px;
  font-weight: 200;
}



table {
  width: 100%;
}

td, th {
  width: 12.5%;
}

td a {
  padding: 4px 0 4px 0;
  display: block;
  font-family: Roboto,sans-serif;
  color: #df934c;
}

td a:hover {
  color: #005087;
}

/*
tr.mat-row:hover {
  cursor: pointer;
  background-color: #FAE0CB;
}*/

.documentoTable {
  width: 37.5%;
}

.atTheEND {
  text-align: end !important;
}

.cuarenta {
  width: 40%;
}

.searchInput {
  width: 42px;
  transition: width 1s;
  font-weight: 800;
  grid-column: span 1;
}

.searchIcon:hover {
  cursor: pointer;
}

.selectSort {
  width: 100%;
  align-self: center;
  font-family: Roboto, sans-serif;
}

.dates {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(4, 1fr);
}

section {
  padding: 1em 3em;
  display: 	grid;
  column-gap: 1em;
  row-gap: 2em;
}

.filtrosVer {
  display: none;
}

@media screen and (max-width: 1400px) {

  .dates {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
  }

  .user-ctn h2 {
    font-size: 32px;
  }

  .searchInput {
    grid-column: span 1;
  }

}


@media screen and (max-width: 700px) {
  section {
    padding: 1em 1em;
  }

  .dates {
    grid-template-columns: 1fr;
    gap: 0;
  }

  h1 {
    font-size: 35px;
  }

  .showMobile {
    overflow: hidden;
    height: 0;
  }

  .filtrosVer {
    display: grid;
  }

  table {
    width: 600px;
  }

  .example-container {
    overflow: auto;
  }

  .mat-paginator {
    width: 600px;
  }


}

