input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.example-form {
  min-width: 900px;
  max-width: 1000px;
  width: 100%;
}
.title {
  color: #014c7e;
  font-family: jubilat, sans-serif;
  font-size: 26px;
  font-weight: 400;
}


* {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}

h4 {
  margin: .7em 0;
  font-size: 26px;
  font-weight: 200;
  color: #ff7b00;
  width: max-content;
}


input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.custom-file-upload {
  border: 1px solid #ffd9b5;
  border-radius: .2em;
  padding: 6px 12px;
  cursor: pointer;
  min-width: 100px;
  display: inline-block;
  text-align: center;
}

.custom-file-upload:hover {
  background-color: #0051872c;
}

.customUpload {
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}


input {
  font-size: 20px;
}

.close-btn {
  margin-bottom: .5em;
}

.uploads {
  padding-bottom: 1em;
}

.ficha-btn:hover {
  cursor: pointer;
  background-color: #0051871c;
}


:host {
  width: 800px;
}
.mat-dialog-container {
  width: 800px;
}

.new-item-form ::ng-deep .mat-form-field-infix {
  width: 100%;
}

.new-item-form ::ng-deep .mat-form-field-flex {
  height: 62px;
}


.topForm {
  margin-bottom: 1em;
}


.descriptionField {
  grid-column: 1/4;
}

.descriptionField  ::ng-deep .mat-form-field-flex {
  height: auto;
}

.nameForm {
  grid-column: 1/4;
}

b {
  color: #ff7b00;
  font-family: jubilat, sans-serif;
  font-weight: 400;
}

h2 {
  color: #ff7b00;
  grid-column: 1/4;
  font-size: 16px;
}


* {
  font-family: futura-pt,sans-serif;
}
.close-btn {
  margin-bottom: .5em;
}

.uploads {
  padding-bottom: 1em;
}

.ficha-btn:hover {
  cursor: pointer;
  background-color: #0051871c;
}

h5 {
  display: inline-block;
  margin: 0;
}

td {
  padding-right: 8px;
}

:host {
  width: 800px;
}
.mat-dialog-container {
  width: 800px;
}


.mat-dialog-content {
  display: grid;
  column-gap: .5em;
  grid-template-columns: repeat(3, 1fr);
  max-height: 50vh;
}
.names {
  grid-column: span 2;
}

@media screen and (max-width: 800px) and (orientation:portrait) {
  .title {
    font-size: 20px;
  }

  .put-margin {
    margin-right: 0;
  }

  .example-half-width {
    width: 100%;
  }

  .close-btn {
    margin-bottom: .5em;
  }

  h1 {
    margin-bottom: .5em;
    line-height: 1.5em;
  }
}
.mat-dialog-content {
  max-height: 50vh;
}
@media screen and (max-width: 600px) {
  .mat-dialog-content {
    max-height: 35vh;
  }
  .precioForm, .marca {
    grid-column: span 4;
  }
}
