<div class="main" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar [ngStyle]="{'padding': '.5em'}" color="primary" class="example-toolbar toolBar">
    <button (click)="snav.toggle()" class="sizeIcon" mat-icon-button><mat-icon class="sizeIcon">menu</mat-icon></button>
    <span class="toolBarName"> <b class="cName">Sirio Dinar</b>|Inventario</span>
    <span class="example-spacer"></span>

    <div class="usuario">
      <span class="nombreUsuario"> {{nombreUsuario}}</span>
      <mat-icon class="userIcon">person</mat-icon>
    </div>
    <button (click)="aInventario()"  matTooltip="Inventario" mat-icon-button class="sizeIcon addMarginTwo">
      <mat-icon class="sizeIcon  sizeShop">assignment</mat-icon>
    </button>
    <button (click)="aVentas()" matTooltip="Ventas" mat-icon-button class="sizeIcon addMargin">
      <mat-icon class="sizeIcon  sizeShop">shopping_cart</mat-icon>
    </button>

  </mat-toolbar>
  <mat-sidenav-container class="mainCont" [style.marginTop.px]="mobileQuery.matches ? 55: 0">
  <mat-sidenav #snav style="overflow:hidden"
      [fixedInViewport]="mobileQuery.matches"  fixedTopGap="56" [mode]="mobileQuery.matches ? 'over' : 'side'" class="menu" [opened]="!mobileQuery.matches" >
    <div class="menuPadding">
    <div class="user-ctn">
      <img (click)="reloadPage()" src="assets/logoRER.svg" class="logoShow">
    </div>
    <div class="show-opc">
      <button (click)="openDialogAgregarCat()" mat-fab color="warn" aria-label="Example icon button with a home icon">
        <mat-icon class="icon-img">add_box</mat-icon>
      </button>
      <button (click)="openDialogMarcas()" mat-fab color="primary" aria-label="Example icon button with a home icon" class="marcasBtn">
        <mat-icon class="icon-img ">business</mat-icon>
      </button>
    </div>
    <div class="options"></div>
    <div class="list-items">
      <ul class="list-general">
        <app-lista-plegable (openDialogEliminarOnMain)="openDialogDelete($event)" (loadItemsOnMainTipo)="loadListItems($event)"
                            (openDialogEditarTipo)="openDialogEditar($event)" (closeAllButThis)="closeAllButOne($event)"
                            [tipoLista]="tipo" *ngFor="let tipo of (tiposSubject|async)"></app-lista-plegable>
      </ul>
    </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content id="listado">

    <router-outlet></router-outlet>
    <!--
    <section class="main-ctt">
      <div class="info">
        <h1>
          {{currentListToDisplay|async}}
        </h1>
        <div class="acciones">
          <mat-button-toggle-group [value]="order|async" #group="matButtonToggleGroup" class="selectDescAsc">
            <mat-button-toggle value="dsc" (click)="orderDsc()">
              <mat-icon>sort</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="asc" (click)="orderAsc()">
              <mat-icon class="dscIcon">sort</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
          <mat-form-field appearance="fill" class="selectSort">
            <mat-label>Ordernar Por:</mat-label>
            <mat-select [(value)]="selectedSort" (selectionChange)="onChageTipo()" >
              <mat-option value="date">Fecha</mat-option>
              <mat-option value="name">Nombre</mat-option>
              <mat-option value="priceIGV">Precio</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="paddingToScroll">

      <cdk-virtual-scroll-viewport *ngIf="keep|async" itemSize="50" class="example-viewport content" minBufferPx="1200" maxBufferPx="1200">
        <app-item-card (deleteEvent)="openDialogEliminarItem($event)" [item]="item" *cdkVirtualFor="let item of (listItems|async)"></app-item-card>
        <div class="displayCheat"  [ngClass]="{'cheating': (listItems|async).length % 3!==0,'cheatingTwo': (listItems|async).length % 3===0}"></div>
        <div class="displayCheatTwo"  [ngClass]="{'cheating': (listItems|async).length % 4!==0,'cheatingTwo': (listItems|async).length % 4===0}"></div>
        <div class="displayCheatThree"  [ngClass]="{'cheating': (listItems|async).length % 2!==0,'cheatingTwo': (listItems|async).length % 2===0}"></div>
      </cdk-virtual-scroll-viewport>
      <div class="test"></div>
      </div>
    </section>
  -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
