
.info {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 70px;
}

.info ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: .5em .5em 0 .5em;
}

.info ::ng-deep .mat-form-field-wrapper {
  padding: 0;
}

.info ::ng-deep .mat-form-field-underline {
  display: none;
}

.acciones {
  display: flex;
  justify-content: flex-end;

}

.selectSort {
  width: 140px;
  align-self: center;
  font-size: 14px;
  font-family: futura-pt, sans-serif;
}

.mat-select {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
}

.selectDescAsc {
  height: fit-content;
  align-self: center;
  margin-right: .5em;
}

.dscIcon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}



.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.user-photo{
  background-image: url("/assets/logo-sirio.jpg");
  background-color: white;
  background-position: center;
  background-size: cover;
}
.example-viewport {
  height: 90vh;
  width: 100%;
}

.test {
  height: 100vh;
}
.example-item {
  height: 50px;
}


h3 {
  margin: 0;
  font-size: 22px;
  color: #E87200;
}

h4 {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #005087;
  font-family: futura-pt,sans-serif;
  font-weight: 300;
  font-style: normal;
}


.menu {
  overflow: hidden;
  background-color: #005087;
  width: 20%;
}


.mat-dialog-container {
  width: 800px;
}

.user-ctn {
  display: flex;
  width: 100%;
}


.show-opc {
  margin: 1.5em 0;
}

.icon-img {
  color: white;
}

li,ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}


li h2 {
  color: #E87200;
  font-size: 16px;
  display: inline-block;
  margin: 0;
  vertical-align: text-bottom;
  font-weight: 600;
}
.down-btn {
  background-image: url("/assets/down.svg");
  display: inline-block;
  width: 18px;
  height: 18px;
  filter: invert(54%) sepia(35%) saturate(4661%) hue-rotate(3deg) brightness(92%) contrast(104%);
  transform: rotate(90deg);
  align-self: center;
  margin: auto;
}


.logoShow {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: center;
  display: block;
  margin: auto;
  cursor: pointer;
}
.user-photo {
  width: 140px;
  height: 140px;
  margin: auto;
  border-radius: 10em;
  background-color: rgb(144, 142, 142);
  text-align: center;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.mat-expansion-panel{
  background-color: transparent;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}


.main-ctt {
  min-height: 90vh;
  grid-column: 3/13;
  padding: 1em 0em 6em 0em;
  background-color: #eaf6ff;
}


h1 {
  margin: 0;
  color: #005087;
  font-size: 50px;
  font-weight: 200;
}

.vender, .editar {
  background-color: white;
  color: #005087;
  border: 1px solid rgb(170, 170, 170);
  border-radius: .2em;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  padding: 0;
}

.plus-svg {
  background-image: url("/assets/Plus_font_awesome.svg");
  background-size: cover;
  filter: invert(100%) sepia(5%) saturate(1820%) hue-rotate(262deg) brightness(116%) contrast(81%);
  width: 280px;
  height: 280px;
  text-align: center;
  margin: auto;
  margin-top: 80px;

}

/*h5 {
  text-align: center;
  font-size: 40px;
  color: #d4d4d4;
  margin: 0;
  font-family: futura-pt, sans-serif;
  font-weight: 200;
  font-style: normal;
}*/


.example-card {
  width: auto;
}

.info {
  margin-bottom: 2em;
  padding: 0em 3em;
}

.agregar-card {
  background-color: #dfdfdf44;
  display: block;
}

.agregar-card:hover {
  cursor: pointer;
}


/* width */
*  ::ng-deep ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
* ::ng-deep ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
* ::ng-deep ::-webkit-scrollbar-thumb {
  background: rgb(184, 184, 184);
  border-radius: 5px;
}

/* Handle on hover */
* ::ng-deep ::-webkit-scrollbar-thumb:hover {
  background: #949494;
}

/*
.menu ::ng-deep ::-webkit-scrollbar {
  width: 5px;
}

.menu ::ng-deep ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

.menu ::ng-deep .mat-drawer-inner-container {
  /*overflow: hidden;
}*/


.displayCheat {
  display: none;
}

.displayCheatTwo {
  display: block;
}

.displayCheatThree {
  display: none;
}

.cardsContainer {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0em;
  display: grid;
  padding-top: 0em;
}

.full {
  grid-template-columns: repeat(5, 1fr);
}

.mainCont {
  flex: 1;
}

.cheating {
  height: 700px;
}

.cheatingTwo {
  height: 200px;
}

.cdk-virtual-scroll-content-wrapper {
  grid: inherit;
}

.paddingToScroll {
  padding: 0em 2em;
}

.showBar {
  display: none;
}

.cargandoItems {
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.toolBar {
  background-color: #005087;
  -webkit-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.35);
  box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.35);
  z-index: 1000;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
}



::ng-deep .sizeIcon{
  height:44px !important;
  width:44px !important;
  font-size:34px !important;
  line-height: 42px !important;
}

::ng-deep .sizeShop {
  font-size:24px !important;
  line-height: 45px !important;
}


::ng-deep .sizePower {
  font-size:33px !important;
  line-height: 45px !important;
}

.addMarginTwo{
  margin-left: .2em;
}

.cName {
  font-family: jubilat, sans-serif;
  font-weight: 200;
}

.toolBarName {
  margin-left: .4em;
  font-family: futura-pt, sans-serif;
  font-size: 26px;
  font-weight: 200;
}
.example-spacer {
  flex: 1 1 auto;
}

.menuPadding {
  padding: 1.5em 1.5em 2em 1.5em;
}

.marcasBtn {
  background-color: #095486;
  margin-left: 1em;
}

.searchInput {
  width: 42px;
  transition: width 1s;
  font-weight: 800;
}

.searchIcon:hover {
  cursor: pointer;
}

form {
  align-self: center;
  margin-left: .5em;
}

.searchInput {
  width: 300px;
}

@media screen and (max-width: 1400px) {

  .info {
    grid-template-columns: none;
    gap: 1em;
  }

  .acciones {
    justify-content: unset;
  }

  .menuPadding {
    padding: 1.5em 1em 2em 1em;
  }

  .logoShow {
    width: 150px;
  }

  .displayCheat {
    display: block;
  }

  .displayCheatTwo {
    display: none;
  }

  .cardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .full {
    grid-template-columns: repeat(4, 1fr);
  }

  h1 {
    font-size: 40px;
  }

}


@media screen and (max-width: 1100px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .displayCheatThree {
    display: block;
  }

  .displayCheat {
    display: none;
  }
}


@media screen and (max-width: 1100px)  {

  .menu {
    width: 25%;
    box-shadow: none;
  }
  .showBar {
    display: flex;
  }
  .list-items {
    max-height: 65vh;
  }
}


@media screen and (max-width: 822px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 822px) {

  .info {
    padding: .5em 1em;
    margin: 0;
    margin-bottom: 8px;
  }

  .toolBar {
    height: 56px;
  }

  .info {
    grid-template-columns: none;
    gap: 16px;
  }

  .acciones {
    display: grid;
    margin: 0;
    grid-template-columns: 96px calc(100% - 96px - 16px);
    justify-content: unset;

    gap: 16px;

  }

  .selectSort {
    width: 100%;
  }

  .selectDescAsc {
    width: 96px;
  }

  form {
    grid-column: span 2;
    margin: 0;
  }
  .selectDescAsc{
    margin: 0;
  }

  .info h1 {
    font-size: 24px;
  }

  .menu {
    width: 40%;
    box-shadow: none;
  }
  .menu ::ng-deep .mat-drawer-inner-container {
    overflow: auto;
  }

  .paddingToScroll {
    padding: 0;
  }


}

@media screen and (max-width: 700px) {
  .cardsContainer {
    grid-template-columns: repeat(1, 1fr);
  }





}

@media screen and (max-width: 700px) {

  .info {
    padding: .5em 1em;
    margin: 0;
    margin-bottom: 8px;
  }
  .user-photo {
    width: 30vw;
    height: 30vw;
  }

  .list-items {
    max-height: none;
  }
  .menu {
    width: 80%;
    box-shadow: none;
  }

  .mainCont {
    background-color: #f6fbff;
  }


}
