<section class="main-ctt">
  <div class="info">
    <h1>
      {{currentListToDisplay|async}}
    </h1>
    <div class="acciones">
      <mat-button-toggle-group [value]="order|async" #group="matButtonToggleGroup" class="selectDescAsc">
        <mat-button-toggle value="dsc" (click)="orderDsc()">
          <mat-icon>sort</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="asc" (click)="orderAsc()">
          <mat-icon class="dscIcon">sort</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <mat-form-field appearance="fill" class="selectSort">
        <mat-label>Ordernar Por:</mat-label>
        <mat-select [(value)]="selectedSort" (selectionChange)="onChageTipo()" >
          <mat-option value="date">Fecha</mat-option>
          <mat-option value="name">Nombre</mat-option>
          <mat-option value="priceIGV">Precio</mat-option>
        </mat-select>
      </mat-form-field>
      <form [formGroup]="searchForm">
      <mat-form-field appearance="fill" class="selectSort searchInput">
        <mat-label>Busqueda:</mat-label>
        <input  id="searchBar" matInput formControlName="search">
        <mat-icon class="searchIcon" matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
    </div>
  </div>
  <div class="paddingToScroll">
    <div class="cardsContainer">
      <app-item-card (deleteEvent)="openDialogEliminarItem($event)" *ngFor="let item of (listItems|async)" [item]="item"></app-item-card>
    </div>
    <div *ngIf="loadingNewItems$|async" class="cargandoItems">
      <mat-spinner [ngStyle]="{margin: 'auto'}"></mat-spinner>
    </div>
  </div>
</section>
