.login {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 45px;
  height: calc(100vh - 45px);
}

input {
  font-size: 14px;
}

h5 {
  text-align: center;
  width: 100%;
  font-weight: 500;
  font-family: futura-pt, sans-serif;
  margin: 0;
}

a {
  font-family: futura-pt, sans-serif;
  margin: 0;
}

.nombrePrincipal {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #E87200;
}


.nombrePrincipal b {
  color: #005087;
}



.google {
  padding: 8px 16px;
  background-color: #4285F4;
  border-radius: 4px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  align-items: center;
  justify-content: center;
  width: calc(100% - 32px);
  display: grid;
  grid-template-columns: 46px calc(100% - 32px - 46px);
  cursor: pointer;
}

.topLink {
  text-decoration: none;
  font-size: 20px;
  color: #005087;
  display: contents;
  font-weight: 600;
}

.topLink:hover {
  color: #E87200;
}

H3 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 14px;
  text-align: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.example-spacer {
  flex: 1 auto;
}

.main-login {
  background-image: url(/assets/supply.jpg);
  background-size: cover;
  grid-column: 1/13;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputlogin {
  grid-column: 2/5;
  grid-row: 3/5;
  background-color: white;
  border-radius: 1em;
  padding: 3em;
  width: 450px;
}

.formstyle {
  width: 100%;
  margin-bottom: 1em;
}

h4 {
  color: rgb(231, 28, 28);
  margin-top: 0;
  margin-bottom: 2em;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

a:hover {
  color: #005087;
}



@media screen and (max-width: 1300px) {
  .inputlogin {
    padding: 2em;
  }

  input[type=text] {
    font-size: 16px;
  }

  input[type=text]:focus {
    font-size: 16px;
  }
}

@media screen and (max-width: 550px) {
  .main-login {
    background-image: none;
    background-color: white;
  }

  .inputlogin {
    padding: 2em;
    width: auto;
  }
}


