<img alt="cerrar" src="assets/close.svg" mat-dialog-title matDialogClose class="close-btn">
<h1 mat-dialog-title>Editar sub categoría:</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div mat-dialog-content>
      <mat-form-field appearance="fill"  class="example-full-width">
        <mat-label>Categoria</mat-label>
        <input spellcheck="false" name="newSubName" id="newSubName" formControlName="newSubName" maxlength = "40" matInput>
      </mat-form-field>
    </div>
    <div mat-dialog-actions align="end">
      <button (click)="onSubmit(form.value)" type="submit" [disabled]="!form.valid" type="button" mat-flat-button color="primary">Actualizar</button>
    </div>
</form>
