
.tablContenedor {
  grid-column: span 4;
}

table {
  width: 100%;
}

.info ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: .5em .5em 0 .5em;
}

.info ::ng-deep .mat-form-field-wrapper {
  padding: 0;
}

.info ::ng-deep .mat-form-field-underline {
  display: none;
}



.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.test {
  height: 100vh;
}



h3 {
  margin: 0;
  font-size: 22px;
  color: #E87200;
}

h4 {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #005087;
  font-family: futura-pt,sans-serif;
  font-weight: 300;
  font-style: normal;
}



.mat-dialog-container {
  width: 800px;
}

.user-ctn {
  display: flex;
  width: 100%;
}


.down-btn {
  background-image: url("/assets/down.svg");
  display: inline-block;
  width: 18px;
  height: 18px;
  filter: invert(54%) sepia(35%) saturate(4661%) hue-rotate(3deg) brightness(92%) contrast(104%);
  transform: rotate(90deg);
  align-self: center;
  margin: auto;
}

.logoShow {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: center;
  display: block;
  margin: auto;
  cursor: pointer;
}
.user-photo {
  width: 140px;
  height: 140px;
  margin: auto;
  border-radius: 10em;
  background-color: rgb(144, 142, 142);
  text-align: center;
}


.mat-expansion-panel{
  background-color: transparent;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}


.main-ctt {
  min-height: 95vh;
  background-color: #eaf6ff;
}


h1 {
  margin: 0;
  color: #005087;
  font-size: 50px;
  font-weight: 400;
}

.vender, .editar {
  background-color: white;
  color: #005087;
  border: 1px solid rgb(170, 170, 170);
  border-radius: .2em;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  padding: 0;
}

.plus-svg {
  background-image: url("/assets/Plus_font_awesome.svg");
  background-size: cover;
  filter: invert(100%) sepia(5%) saturate(1820%) hue-rotate(262deg) brightness(116%) contrast(81%);
  width: 280px;
  height: 280px;
  text-align: center;
  margin: auto;
  margin-top: 80px;

}

/*h5 {
  text-align: center;
  font-size: 40px;
  color: #d4d4d4;
  margin: 0;
  font-family: futura-pt, sans-serif;
  font-weight: 200;
  font-style: normal;
}*/


.example-card {
  width: auto;
}

.cargandoItems {
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.info {
  margin-bottom: 2em;
  padding: 3em 3em;
  display: grid;
}

.agregar-card {
  background-color: #dfdfdf44;
  display: block;
}

.agregar-card:hover {
  cursor: pointer;
}


/* width */
*  ::ng-deep ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
* ::ng-deep ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
* ::ng-deep ::-webkit-scrollbar-thumb {
  background: rgb(184, 184, 184);
  border-radius: 5px;
}

/* Handle on hover */
* ::ng-deep ::-webkit-scrollbar-thumb:hover {
  background: #949494;
}


.displayCheat {
  display: none;
}

.displayCheatTwo {
  display: block;
}

.displayCheatThree {
  display: none;
}

.cardsContainer {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0em;
  display: grid;
  padding-top: 0em;
}

.images {
  display: grid;
  grid-template-columns: 354px 50px;
}

img {
  margin: 0;
}

.mainCont {
  flex: 1;
}


.cdk-virtual-scroll-content-wrapper {
  grid: inherit;
}

.paddingToScroll {
  padding: 0em 2em;
}

.showBar {
  display: none;
}

.toolBar {
  background-color: #005087;
  -webkit-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.35);
  box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.35);
  z-index: 1000;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
}


.preview-img {
  height: 50px;
}

.images-container {
  display: grid;
  grid-template-columns: 354px;
  grid-template-rows: 354px 50px;
  row-gap: 5px;
  width: 354px;
  padding-top: .8em;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover
{
    text-decoration:none;
}

.header-item {
  padding: 2.2em 3em;
  display: grid;
  column-gap: 3em;
  grid-template-columns: .5fr 1fr 1fr;
}

p {
  font-family: futura-pt, sans-serif;

}

.zoom-container {
  height: 354px;
  position: relative;
}

.zoom-img {
  z-index: 50;
  height: 354px;
  width: 708px;
  left: 440px;
  top: 46px;
  position: absolute;
  background-image: url('https://inventario-sirio-dinar.herokuapp.com/inventario/image/img-23SDBP9-1597381127996.png');
  background-size: 1416px 1416px;
  background-repeat: no-repeat;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

.social-link:hover {
  cursor: pointer;
  color: #005087;
}

.item-info {
  display: grid;
  grid-column: span 2;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: max-content max-content max-content max-content max-content max-content;
  gap: 2em;
}
p {
  margin: 0;
}

.pre-venta {
  grid-column: span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5em;
}

.item-info h1, .item-info p, .item-info h4, .item-info h3 {
  grid-column: span 4;
}



h3 {
  font-weight: 400;
  color: #005087;
}

.ficha-btn {
  grid-column: span 1;
}

.color-contacto {
  color: #E87200;
}


.mini-card {
  display: grid;
  width: 100%;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
  background-color: white;
  border-radius: .3em;
  grid-template-rows: 40px 160px;
  height: 200px;

  transition: .2s ease-out;
}

.other-items {
  padding: 0em 3em 6em 3em;
}

.other-items h2 {
  color: #E87200;
  font-weight: 200;
  margin-bottom: 2em;
}

.card-image {
  background-size: cover;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: .3em;
  background-repeat: no-repeat;
  background-position: center;
}

.other-items h4 {
  color: #005087;
  font-family: futura-pt,sans-serif;
  font-size: 12px;
  font-weight: 200;
  padding: .5em;
}

.cards {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 2em;
}

.mini-card:hover {
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 9px 1px rgba(0,0,0,0.15);
  transform: scale(1.02) translate(6px, -3px);
}

.ficha-btn {
  grid-column: 1/2;
}

.small-img {
  display: none;
}

@media screen and (max-width: 1400px) {

  .cards {
    grid-template-columns: repeat(6, 1fr);
  }

  .ficha-btn {
    grid-column: 1/3;
  }


}


@media screen and (max-width: 1100px) {

  .ficha-btn {
    grid-column: 1/4;
  }

  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media screen and (max-width: 1100px)  {

  .showBar {
    display: flex;
  }
  .list-items {
    max-height: 65vh;
  }
}


@media screen and (max-width: 850px) {

  .other-items {
    padding: 0em 1.5em 6em 1.5em;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .header-item {
    padding: 2.5em 1.5em;
    grid-template-columns: none;
  }

  .images-container {
    display: none;
  }

  .small-img {
    display: block;
    grid-column: 1/5;
  }

  .small-img img {
    width: 100%;
  }

  h1  {
    font-size: 24px;
  }

  .ficha-btn {
    grid-column: 1/5;
  }

}

@media screen and (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

}
