.example-spacer {
  flex: 1 auto;
}

.changeColor:hover {
  color: #E87200;
}

::ng-deep .changeColor:hover {
  color: #E87200 !important;
}
.toolbar {
  z-index: 100;
}

a {
  text-decoration: none;
}

h4 {
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  grid-row: 1;
  grid-column: 1;
  color: #E87200;
  font-family: 'Roboto', sans-serif;
}

.gridDos {
  gap: 18px;
}

.gridDos h3 {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  margin-top: 6px;
  font-variant-numeric: oldstyle-nums;
  width: fit-content;
}

.gridDos h4 {
  color: #005087;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  margin-top: 18px;
}

.gridDos > h4:first-child {
  margin-top: 9px;
}

h1 {
  margin: 0;
  font-size: 32px;
  grid-row: 1;
  grid-column: 1;
  color: #005087;
}

h3 {
  margin: 0;
  color: #005087;
  font-size: '14px';
}

.navegacion {
  padding: 1.5em;
}

.navegacion a {
  color: #005087;
}

.comprasList {
  overflow: auto;
  height: 192px;
}

.btn {
  margin-left: 10px;
}

a {
  font-family: Roboto, sans-serif;
  margin: 0;
}

.nombrePrincipal {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #E87200;
}


.nombrePrincipal b {
  color: #005087;
}

.topLink {
  text-decoration: none;
  font-size: 20px;
  color: #005087;
  display: contents;
  font-weight: 600;
}

.topLink:hover {
  color: #E87200;
}

.divider {
  margin-top: 5px;
  display: none;
}

.contenedor {
  display: grid;
  grid-template-columns: 250px auto;
  padding: 3em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  padding: 3em 3em;
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: #005087;
  color: white;
}

footer a {
  color: white;
  display: flex !important;
  align-items: center;
  gap: .5em;
}

.social-link {
  color: white;
}

.mat-subheader {
  color: white;
}

.nav-mobile {
  display: none;
}

@media screen and (max-width: 1300px) {
  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1050px) {
  footer {
    grid-template-columns: 1fr ;
  }
  .contenedor {
    width: calc(100% - 6em);
    grid-template-columns: 1fr;
    gap: 1.5em;
  }

  .navegacion {
    display: none;
  }

  .nav-mobile {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  footer {
    padding: 3em 1.5em;
    gap: 1em;
  }
  .contenedor {
    padding: 1.5em .5em;
    width: calc(100% - 3em);
  }

  .navegacion {
    padding: 1.5em 0;
  }
}
