h1 {
  color: #E87200;
}

* {
  font-family: futura-pt, sans-serif;
  font-weight: 600;
  font-style: normal;
}

b{
  color: #014c7e;
}
.example-full-width {
  width: 100%;
}

.hpc {
  margin-bottom: 1em;
}

h2 {
  margin: .5em 0 .1em 0;
}

img {
  width: 40px;
  height: 40px;
}

img:hover {
  cursor: pointer;
}
