<mat-toolbar [ngStyle]="{'position': 'fixed' }" >
  <span [ngStyle]="{ 'cursor': 'pointer'}" (click)="goToInv()" routerLinkActive="active">Sirio <b>Dinar</b></span>
  <span class="example-spacer"></span>
  <span (click)="goToInv()" class="changeColor" [ngStyle]="{'font-weight': 200, 'cursor': 'pointer'}">Inventario</span>
  <button (click)="goToInv()" class="changeColor" matTooltip="Inventario"  class="sizeIcon">
    <mat-icon class="changeColor" [ngStyle]="{'color': '#005087'}">assignment</mat-icon>
  </button>
</mat-toolbar>
<div class="bg">
  <div  class="profilecard">
    <mat-spinner [ngStyle]="{'grid-column': '1/3', 'justify-self': 'center', 'align-self': 'center'}" *ngIf="!(user|async)"></mat-spinner>
    <div *ngIf="(user|async)" class="gridUno">
      <div class="names">
        <h1>{{(user|async).displayName}}</h1>
        <h4>{{(user|async).email}}</h4>
      </div>
      <div class="compras">
        <h3>Compras</h3>
        <div class="comprasList">
          <mat-list [ngStyle]="{'height': '184px'}" role="list">
            <mat-list-item  matRipple [ngStyle]="{'font-size': '14px', 'cursor': 'pointer'}" role="listitem">#54516 <span
              [ngStyle]="{'color': ' #e69a53', 'font-size': '14px', 'margin-left': '8px'}">18/05/2021</span></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item  matRipple [ngStyle]="{'font-size': '14px', 'cursor': 'pointer'}" role="listitem">#54516 <span
              [ngStyle]="{'color': '#e69a53', 'font-size': '14px', 'margin-left': '8px'}">18/05/2021</span></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item  matRipple [ngStyle]="{'font-size': '14px', 'cursor': 'pointer'}" role="listitem">#54516 <span
              [ngStyle]="{'color': '#e69a53', 'font-size': '14px', 'margin-left': '8px'}">18/05/2021</span></mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item  matRipple [ngStyle]="{'font-size': '14px', 'cursor': 'pointer'}" role="listitem">#54516 <span
                [ngStyle]="{'color': '#e69a53', 'font-size': '14px', 'margin-left': '8px'}">18/05/2021</span></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item  matRipple [ngStyle]="{'font-size': '14px', 'cursor': 'pointer'}" role="listitem">#54516 <span
                  [ngStyle]="{'color': '#e69a53', 'font-size': '14px', 'margin-left': '8px'}">18/05/2021</span></mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item  matRipple [ngStyle]="{'font-size': '14px', 'cursor': 'pointer'}" role="listitem">#54516 <span
                    [ngStyle]="{'color': '#e69a53', 'font-size': '14px', 'margin-left': '8px'}">18/05/2021</span></mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
    <div *ngIf="(user|async)" class="gridDos">
      <h4>
        Nombre:
      </h4>
      <h3>
        {{(user|async).nombre}} {{(user|async).apellido}}
      </h3>
      <h4>
        Direccion:
      </h4>
      <h3 *ngIf="(user|async).dirOne">
        {{(user|async).dirOne}} {{(user|async).dirTwo}} {{(user|async).ciudad}}
        <i (click)="openAgregarDireccionDialog()" matTooltip="Editar" [ngStyle]="{'color': '#E87200', 'padding-left': '12px', 'cursor': 'pointer'}" class="far fa-edit"></i>
      </h3>
      <h3 (click)="openAgregarDireccionDialog()" *ngIf="!(user|async).dirOne" [ngStyle]="{'color': '#E87200', 'cursor': 'pointer'}">
        Agregar dirección.
      </h3>
      <h4>
        Celular:
      </h4>
      <h3>
        {{(userPhone|async)}}
        <i (click)="openEditarCelDialog()" matTooltip="Editar" [ngStyle]="{'color': '#E87200', 'padding-left': '12px', 'cursor': 'pointer'}" class="far fa-edit"></i>
      </h3>
      <h4>
        DNI/RUC:
      </h4>
      <h3 *ngIf="(user|async).documento">
        {{(user|async).documento}}
        <i (click)="openAgregarDocumentoDialog()" matTooltip="Editar" [ngStyle]="{'color': '#E87200', 'padding-left': '12px', 'cursor': 'pointer'}" class="far fa-edit"></i>
      </h3>
      <h3 (click)="openAgregarDocumentoDialog()" *ngIf="!(user|async).documento" [ngStyle]="{'color': '#E87200', 'cursor': 'pointer'}">
        Agregar documento de identidad.
      </h3>
      <button (click)="openEditarContrasena()" [ngStyle]="{'margin-top': '18px'}" mat-flat-button color="accent">Cambiar Contraseña</button>
    </div>
  </div>
</div>
