.example-spacer {
  flex: 1 auto;
}

.changeColor:hover {
  color: #E87200;
}

::ng-deep .changeColor:hover {
  color: #E87200 !important;
}
.toolbar {
  z-index: 100;
}

.bg {
  background-image: url('/assets/patternSirio.jpg');
  background-repeat: repeat;
  background-size: 10%;
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
}


b {
  font-weight: 500;
  color: #E87200;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

.profilecard {
  background-color: white;
  align-self: center;
  justify-self: center;
  border-radius: 16px;
  display: grid;
  padding: 3em;
  gap: 54px;
  overflow: auto;
  grid-template-columns: 1fr 3fr;
  height: calc(420px - 6em);
  width: calc(940px - 6em);
}

.gridUno {
  display: grid;
  gap: 36px;
  grid-template-rows: 1fr 3fr;
}

h4 {
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  grid-row: 1;
  grid-column: 1;
  color: #E87200;
  font-family: 'Roboto', sans-serif;
}

.gridDos {
  gap: 18px;
}

.gridDos h3 {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  margin-top: 6px;
  font-variant-numeric: oldstyle-nums;
  width: fit-content;
}

.gridDos h4 {
  color: #005087;
  font-family: jubilat, sans-serif;
  font-weight: 600;
  margin-top: 18px;
}

.gridDos > h4:first-child {
  margin-top: 9px;
}

h1 {
  margin: 0;
  font-size: 32px;
  grid-row: 1;
  grid-column: 1;
  color: #005087;
}

h3 {
  margin: 0;
  color: #005087;
  font-size: '14px';
}

.comprasList {
  overflow: auto;
  height: 192px;
}

.btn {
  margin-left: 10px;
}

a {
  font-family: Roboto, sans-serif;
  margin: 0;
}

.nombrePrincipal {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #E87200;
}


.nombrePrincipal b {
  color: #005087;
}

.topLink {
  text-decoration: none;
  font-size: 20px;
  color: #005087;
  display: contents;
  font-weight: 600;
}

.topLink:hover {
  color: #E87200;
}

.divider {
  margin-top: 5px;
  display: none;
}

.btn.fbtn {
  margin-left: 0;
}

@media screen and (max-width: 800px) and (orientation: portrait) {
  .profilecard {
   transform: scale(.9);
   height: calc(470px - 6em);
  }

  .btn {
    margin-left: 0;
    margin-right: 10px;
  }
}

@media screen and (max-width: 550px) and (orientation: portrait) {
  .profilecard {
    grid-template-columns: 1fr;
    padding: 3em;
    align-self: initial;
    height: auto;
    width: 100%;
    gap: 0;
  }

  .btn {
    display: block;
    margin-left: 0;
  }

  .bg {
    height: auto;
    background-image: none;
  }

  .compras {
    display: none;
  }

  .gridUno {
    display: block;
  }

  .divider {
    margin-top: 5px;
    display: block;
  }

  .notDivide {
    display: block;
  }
}
