<mat-toolbar class="toolbar">
  <a href="/" class="nombrePrincipal" [ngStyle]="{'cursor': 'pointer'}">Sirio <b>Dinar</b></a>
  <span class="example-spacer"></span>
  <a class="topLink" href="/"><mat-icon [ngStyle]="{'margin-right': '2px'}"
      class="changeColor">store_mall_directory</mat-icon> <span>Tienda</span> </a>
</mat-toolbar>
<div *ngIf="{
  user: user | async
} as observables" class="bg">
  <div class="profilecard">
    <mat-spinner [ngStyle]="{'grid-column': '1/3', 'justify-self': 'center', 'align-self': 'center'}"
      *ngIf="!(observables.user)"></mat-spinner>
    <div *ngIf="(observables.user)" class="gridUno">
      <div class="names">
        <h1>{{(observables.user).displayName}}</h1>
        <h4>{{(observables.user).email}}</h4>
      </div>
      <div class="compras">
        <h3 *ngIf="auth.getTtype() === 'low'">Compras</h3>
        <h3 *ngIf="auth.getTtype() !== 'low' || auth.getTtype() !== 'contador'">Ventas</h3>
        <div class="comprasList">
          <mat-list [ngStyle]="{'height': '184px'}" role="list">
            <mat-list-item *ngFor="let venta of ventasLastTen|async" matRipple
              [ngStyle]="{'font-size': '14px', 'cursor': 'pointer'}" role="listitem">
              <a href="/ventas/historialVentas/{{venta.codigo}}">
                {{venta.codigo}} <span
                  [ngStyle]="{'color': ' #e69a53', 'font-size': '14px', 'margin-left': '8px'}">{{venta.date|date:
                  'shortDate'}}</span>
              </a>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <div *ngIf="(observables.user)" class="gridDos">
      <h4>
        Nombre:
      </h4>
      <h3>
        {{(observables.user).nombre}} {{(observables.user).apellido}}
      </h3>
      <mat-divider class="divider"></mat-divider>
      <h4>
        Direccion:
      </h4>
      <h3 *ngIf="(observables.user).dirOne">
        {{(observables.user).dirOne}} {{(observables.user).dirTwo}} {{(observables.user).ciudad}}
        <i (click)="openAgregarDireccionDialog()" matTooltip="Editar"
          [ngStyle]="{'color': '#E87200', 'padding-left': '12px', 'cursor': 'pointer'}" class="far fa-edit"></i>
      </h3>
      <h3 (click)="openAgregarDireccionDialog()" *ngIf="!(observables.user).dirOne"
        [ngStyle]="{'color': '#E87200', 'cursor': 'pointer'}">
        Agregar dirección.
      </h3>
      <mat-divider class="divider"></mat-divider>
      <h4>
        Celular:
      </h4>
      <h3>
        {{(userPhone|async)}}
        <i (click)="openEditarCelDialog()" matTooltip="Editar"
          [ngStyle]="{'color': '#E87200', 'padding-left': '12px', 'cursor': 'pointer'}" class="far fa-edit"></i>
      </h3>
      <mat-divider class="divider"></mat-divider>
      <h4>
        DNI/RUC:
      </h4>
      <h3 *ngIf="(observables.user).documento">
        {{(observables.user).documento}}
        <i (click)="openAgregarDocumentoDialog()" matTooltip="Editar"
          [ngStyle]="{'color': '#E87200', 'padding-left': '12px', 'cursor': 'pointer'}" class="far fa-edit"></i>
      </h3>
      <h3 (click)="openAgregarDocumentoDialog()" *ngIf="!(observables.user).documento"
        [ngStyle]="{'color': '#E87200', 'cursor': 'pointer'}">
        Agregar documento de identidad.
      </h3>
      <mat-divider class="divider"></mat-divider>
      <button class="btn fbtn" (click)="openEditarContrasena()" [ngStyle]="{'margin-top': '18px'}" mat-raised-button
        color="primary">Cambiar Contraseña</button>
      <button disabled class="btn" [ngStyle]="{'margin-top': '18px', width: '160px'}" mat-raised-button
        color="primary">Ver Reporte</button>
      <button color="accent" class="btn" (click)="cerrarSesion()" [ngStyle]="{'margin-top': '18px', width: '160px'}"
        mat-raised-button>Cerrar Sesión</button>
    </div>
  </div>
</div>
<footer>

  <mat-list>
    <div mat-subheader>Servicio Al Cliente:</div>
    <mat-list-item class="social-link">
      <a mat-line href="/servicio-al-cliente/terminos-y-condiciones"><span><mat-icon
            mat-list-icon>description</mat-icon></span>Terminos y condiciones</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="social-link">
      <a mat-line href="/servicio-al-cliente/politica-de-privacidad"><span><mat-icon
            mat-list-icon>description</mat-icon></span>Política de privacidad</a>
    </mat-list-item>
  </mat-list>

  <mat-list>
    <div mat-subheader>Envios y devoluciones:</div>
    <mat-list-item class="social-link">
      <a mat-line href="/servicio-al-cliente/politica-de-devolucion"><span><mat-icon
            mat-list-icon>local_shipping</mat-icon></span>Política de devoluciones</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="social-link">
      <a mat-line href="/servicio-al-cliente/politica-de-envio"><span><mat-icon
            mat-list-icon>local_shipping</mat-icon></span>Política de envio</a>
    </mat-list-item>
  </mat-list>

  <mat-list>
    <div mat-subheader>Redes Sociales:</div>
    <mat-list-item class="social-link">
      <a mat-line rel="noreferrer" target="_blank" href="https://www.facebook.com/siriodinar"><span><mat-icon
            mat-list-icon>facebook</mat-icon></span>fb.com/siriodinar</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="social-link">
      <a rel="noreferrer" target="_blank" rel="noreferrer" mat-line href="https://www.instagram.com/dinarsirio/">
        <span><mat-icon [ngStyle]="{'padding-bottom': '12px'}" mat-list-icon>
            <i class="fab fa-instagram"></i></mat-icon></span>@dinarsirio</a>
    </mat-list-item>
  </mat-list>

  <mat-list>
    <div mat-subheader>WhatsApps:</div>
    <mat-list-item class="social-link">
      <a mat-line rel="noreferrer" target="_blank"
        href="https://api.whatsapp.com/send/?phone=51977426349&text=Buenas%2C+me+gustaria+obtener+m%C3%A1s+informaci%C3%B3n.&app_absent=0"><span>
          <mat-icon [ngStyle]="{'padding-bottom': '12px'}" mat-list-icon><i class="fa fa-whatsapp"
              aria-hidden="true"></i>
          </mat-icon></span>+51 977 426 349</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="social-link">
      <a rel="noreferrer" target="_blank" mat-line
        href="https://api.whatsapp.com/send/?phone=51922412404&text=Buenas%2C+me+gustaria+obtener+m%C3%A1s+informaci%C3%B3n.&app_absent=0"><span>
          <mat-icon [ngStyle]="{'padding-bottom': '12px'}" mat-list-icon><i class="fa fa-whatsapp"
              aria-hidden="true"></i>
          </mat-icon></span>+51 922 412 404</a>
    </mat-list-item>
  </mat-list>

  <mat-list>
    <div mat-subheader>Comunicate:</div>
    <mat-list-item class="social-link">
      <a mat-line href="/servicio-al-cliente/contactanos"><span><mat-icon
            mat-list-icon>contact_mail</mat-icon></span>Contactanos</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="social-link">
      <a rel="noreferrer" target="_blank" mat-line
        href="https://www.google.com/maps/place/Felipe+Pardo+y+Aliaga+213,+Trujillo+13006/@-8.11283,-79.0178555,19z/data=!3m1!4b1!4m5!3m4!1s0x91ad162a59b1c931:0xda445057079ecc8!8m2!3d-8.1128313!4d-79.0173083?rapsrc=apiv3">
        <span><mat-icon mat-list-icon>room</mat-icon></span>Jr. Felipe Pardo Y Aliaga 213</a>
      <div mat-line><mat-icon></mat-icon>Urb. Palermo. Trujillo, Perú.</div>
    </mat-list-item>
  </mat-list>


</footer>