/*
b {
  color: #ff7b00;
  font-family: jubilat, sans-serif;
  font-weight: 200;
}

.textB {
  font-family: Roboto,sans-serif;
}

h2 {
  color: #005087;
  font-family: jubilat, sans-serif;
  font-weight: 200;
  font-size: 26px;
}

p {
  font-size: 18px;
}

* {
  font-family: Roboto,sans-serif;
}

.ventaR {
  top: 42%;
  z-index: 6;
  font-size: 32px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-family: Roboto, sans-serif;
  color: #FF6E40;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
@media screen and (max-width: 800px) {
  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}**/

.ventaR {
  top: 42%;
  z-index: 6;
  font-size: 32px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-family: Roboto, sans-serif;
  color: #FF6E40;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}


form {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
}

.oneC {
  grid-column: span 1;
}

.fullC {
  grid-column: span 2;
}

.oneC, .fullC {
  width: 100%;
}

@media screen and (max-width: 550px) {
  .oneC {
    grid-column: span 2;
  }
  .mat-dialog-content {
    max-height: 35vh;
  }
}
