<div class="imagen"  [ngStyle]="{'background-image': 'url(' + (urlOfImage|async) + ')'}" >
  <a [ngStyle]="{'height': '100%'}" href="/store/categorias/{{tipoCodigo}}/{{item.subTipo}}/{{item.codigo}}"></a>
</div>
<div *ngIf="(item$|async)" class="infoPro">
  <div class="nombre">
    <h1>{{(item$|async).name}}</h1>
  </div>
  <div class="accion">
    <a matTooltip="Ver Item" href="/store/categorias/{{tipoCodigo}}/{{item.subTipo}}/{{item.codigo}}"><mat-icon>open_in_browser</mat-icon></a>
    <mat-icon (click)="openDialogEditarCantidades()" matTooltip="Editar Cantidades">poll</mat-icon>
    <mat-icon (click)="openDialogEditarItem()" matTooltip="Editar Item">edit</mat-icon>
    <mat-icon (click)="openDialogCambiarImagen()" matTooltip="Cambiar Foto">insert_photo</mat-icon>
    <mat-icon *ngIf="auth.isAdmin()" (click)="openSeguroEliminarDialog()" matTooltip="Eliminar Item">delete</mat-icon>
    <button (click)="openDialogVenta()" [disabled]="(item$|async).cantidad === 0" color="primary" mat-stroked-button>Vender {{(item$|async).priceIGV|currency:'S/'}} | Cant. {{(item$|async).cantidad}}</button>
  </div>
</div>
