<img src="assets/close.svg" mat-dialog-title matDialogClose class="close-btn">
<h1 mat-dialog-title class="title">Agregar Imagen y Ficha Tecnica</h1>
<div mat-dialog-content>
    <form  [formGroup]="uploadForm" (ngSubmit)="onSubmit()" class="new-item-form topForm">
      <input (change)="onFileSelect($event.target.files)" type="file" spellcheck="false" name="img" id="img" formControlName="img">
      <button [disabled]="disabled" type="submit" mat-flat-button color="accent">Subir Foto</button>
      <h4 class="succesMSG" *ngIf="showMessage">Imagen Subida Correctamente</h4>
    </form>
    <form  [formGroup]="uploadFileForm" (ngSubmit)="onSubmitPDF()" class="new-item-form topForm">
      <input (change)="onFileSelectPDF($event.target.files)" type="file" spellcheck="false" name="pdf" id="pdf" formControlName="pdf">
      <button [disabled]="disabledPDF" type="submit" mat-flat-button color="accent">Subir Ficha</button>
      <h4 class="succesMSG" *ngIf="showMessagePDF">Ficha Subida Correctamente</h4>
    </form>
</div>
<div mat-dialog-actions align="end">
  <button matDialogClose type="button"  mat-flat-button color="primary">Listo</button>
</div>
