section {
  padding: 1em 3em;
}

h1 {
  margin: 0;
  color: #005087;
  font-size: 50px;
  font-weight: 200;
}

.info {
  display: grid;
  gap: 1em;
}

.example-container {
  position: relative;
  min-height: 200px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


table {
  width: 100%;
}

td, th {
  width: 16%;
}


tr.mat-row:hover {
  cursor: pointer;
  background-color: #FAE0CB;
}

.documentoTable {
  width: 50%;
}

@media screen and (max-width: 700px) {
  section {
    padding: 1em 1em;
  }

  .dates {
    grid-template-columns: 1fr;
    gap: 0;
  }

  h1 {
    font-size: 35px;
  }

  .showMobile {
    overflow: hidden;
    height: 0;
  }

  .filtrosVer {
    display: grid;
  }

  table {
    width: 600px;
  }

  .example-container, .contenidoMain {
    overflow: auto;
  }

  .mat-paginator {
    width: 600px;
  }

}
