@import '@angular/material/theming';

@include mat-core();

$mat-sirio-blue: (
  A100: #466b9d,
  A400: #005087,
  A700: #285687,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$mat-sirio-orange: (
  A100: #F3A867,
  A400: #E87100,
  A700: #CA7B35,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$primary: mat-palette($mat-sirio-blue, A400, A100, A700);
$accent:  mat-palette($mat-sirio-orange, A400, A100, A700);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
